/* ==========================================================================
   MYHOME
   ========================================================================== */

   .myhome-image {
    border-radius: 50%;
    width: 20%; /* Adjust the percentage as needed */
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  .myhome-text {
    text-align: center;
    font-weight: bold; /* Makes text bold */
    font-size: 2em; /* Larger text size for "Hi, I'm Mario!" */
  }
  
  .myhome-sub-text {
    font-size: 1.5em; /* Smaller than the main text */
    font-weight: normal; /* Regular font weight */
  }

  .myhome-content {
    text-align: center;
    width: 100%;
    margin-top: 3em;
  }
  